body{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}


.container{
    text-align: center;
}

table{
    margin-right: auto;
    margin-left: auto;
    border: solid;
    border-collapse: collapse;
    border-spacing: 5px
}
th{
    display: table-cell;
}   
.table , th {
    border-collapse: collapse;
    font-style:inherit;
    font-weight: bold;
}
.table ,td{
    border-collapse: collapse;
    padding: 5px;
}