body{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}


.container{
    text-align: center;
}

table{
    margin-right: auto;
    margin-left: auto;
    border: solid;
    border-spacing: 5px
}


.table , th {
    font-style:inherit;
     font-weight: bold;
    
}
.table ,td{
    padding: 5px;
}

